.main-nav-youtube-svg {
  width: 9rem;
  height: 2.6rem;
  fill: #fff;
}

.main-nav-youtube-svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.8rem;
  padding-right: 1.9rem;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.GE {
  position: absolute;
  top: -0.47rem;
  right: 0.16rem;
  font-size: 0.98rem;
  color: #aaa;
  font-weight: 400;
}
